body{
    background-color: #27282E;
}
.title-text-holder{
border-bottom: 2px solid #757575 !important;
}
.white-text{
    color: whitesmoke;
}
.p{
    color: whitesmoke;
}
.profile-imager{
    height: 150px;
    border-radius: 0.2em;
}
.profile-container{
    background-color: #161618;
    border-radius: 0.2em;
    box-shadow: 1px 1px 10px #0000006e;
}
.line{

    border-bottom: 1px solid rgb(255, 255, 255);

    }
    .input{
        background-color: #27282E;
        border: none !important;
        color: whitesmoke !important;
    }
    .input:focus{
        background-color: #27282E;
    }
